# Dependencies
**/node_modules
backend/venv
backend/__pycache__

# Build outputs
**/build
**/dist

# Environment variables
.env
.env.*

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
*.pyc
*.pyo
*.pyd
