* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  width: 100%;
  height: 1200px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

/* Header */
.header {
  width: 500px;
  min-width: 200px;
  height: 90px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.current-time {
  width: 480px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}

/* Battery */
.battery-container {
  width: 270px;
  height: 70px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1320px;
  overflow: hidden;
}

.battery-level {
  width: 140px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 124px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}

/*.battery-icon {
  width: 73px;
  height: 42px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 46px;
  overflow: hidden;
  background-image: url('../public/v5_19.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* News */
.news-title-container {
  width: 1560px;
  height: 300px;
  opacity: 1;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  top: 170px;
  overflow: hidden;
}

.news-title {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
  text-wrap: balance;
}

.news-description-container {
  width: 1560px;
  height: 169px;
  opacity: 1;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  top: 501px;
  overflow: auto;
}

.news-description {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
  text-wrap: balance;
}

/* Weather Container */
.weather-container {
  width: 100%;
  height: 280px;
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 20px;
  overflow: hidden;
}

/* Current Weather */
.current-weather {
  width: 310px;
  height: 160px;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}

.weather-icon-large {
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  left: 160px;
  top: 5px;
  overflow: hidden;
}

.weather-icon-large img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.current-temp-container {
  width: 155px;
  height: 160px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.current-temp {
  width: 149px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2px;
  left: 3px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 94px;
  opacity: 1;
  text-align: center;
}

.location-label {
  width: 310px;
  height: 120px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.location-text {
  width: 283px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10px;
  left: 14px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 37px;
  opacity: 1;
  text-align: center;
}

/* Forecast Days */
.forecast-day {
  width: 250px;
  height: 280px;
  opacity: 1;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

/* Day Positioning */
.day-0 {
  left: 310px;
}

.day-1 {
  left: 560px;
}

.day-2 {
  left: 810px;
}

.day-3 {
  left: 1060px;
}

.day-4 {
  left: 1310px;
}

/* Day Content */
.day-name {
  width: 250px;
  height: 66px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.day-label {
  width: 213px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}

.day-icon-container {
  width: 250px;
  height: 148px;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 0px;
  overflow: hidden;
}

.day-icon {
  width: 110px;
  height: 110px;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 70px;
  overflow: hidden;
}

.day-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.temp-range {
  width: 250px;
  height: 66px;
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 0px;
  overflow: hidden;
}

.high-temp {
  width: 125px;
  height: 66px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 125px;
  overflow: hidden;
}

.low-temp {
  width: 125px;
  height: 66px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.temp-val {
  width: 93px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 16px;
  left: 0px;
  /* Adjusted for centering in 125px container? Original had 0px for high, 25px for low */
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}

/* Specific adjustment for low temp to match original v23_317 etc */
.low-temp .temp-val {
  left: 25px;
}